.container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    align-items: flex-start;
    gap: 250px;
  /*flex-wrap: wrap; /* Ensure items wrap on smaller screens */
  }
  .formContainer h2 {
    margin-bottom: 5px; /* Decrease space below the heading */
  }
  
  .formContainer p {
    margin-top: 0; /* Remove extra space above the paragraph */
    margin-bottom: 10px; /* Adjust as needed for spacing */
  } 
  .image {
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover; 
    margin-left: 100px;
  }
  
  .formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 86%;
    margin-top: 10px;
  }
  
  
  .createAccount {
    background-color: #d9972e;
    color: #fff;
  }
  
  .googleSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .loginLink {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 70px;
  }
  
  .loginAnchor {
    color: #0077ff;
    text-decoration: none;
  }
  