.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logoOrange {
    color: #C24507;
  }
  
  .logoBlue {
    color: #1C486F;
  }
  
  .nav {
    display: flex;
  gap: 30px; /* Increase the spacing between navigation links */
  flex-grow: 1; /* Allow the navigation to take available space */
  justify-content: center; /* Center the navigation links */
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
  }
  
  .active {
    font-weight: bold;
  }
  
  .searchBox {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-left: auto;/* Space between input and button */
  }
  
  .searchInput {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .searchButton {
    padding: 5px 10px;
    background-color: #1C486F;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #14506E;
  }
  